@import "./../../../../styles/variables";

.navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
}

.search-bar-container {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1010;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
  padding: 10px;
}

.show-search-bar {
  display: block;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}

.form-control {
  width: 100%;
  padding-right: 30px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}


.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1021;
  border-radius: 50% !important;
  background-color: $primary;
  color: $text-color;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  &:hover {
    background-color: $hover-color;
    color: #000000;
    box-shadow: 0px 0px 0px 0px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
}

.dropdown-item {
  background-color: $primary;
  padding-right:20px;
  width: 140px;
  max-width: 140px;
}
