<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 title">Dubai Landmarks</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-buttons">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateHome()">Home</a>
        </li>
      </ul>
      <div class="d-flex login-button">
        <button class="btn" (click)="toggleSearchBar()">
          <i class="bi bi-search"></i>
        </button>
        <button class="btn" type="button" id="loginButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginButton">
          <li><button class="dropdown-item btn btn-primary" type="button" (click)="isUserLoggedIn ? logoutUser() : navigateLoginPage()">{{ isUserLoggedIn ? 'Logout' : 'Login' }}</button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div [class]="showSearchBar ? 'search-bar-container show-search-bar' : 'search-bar-container'" *ngIf="showSearchBar">
  <div class="input-group position-relative">
    <input #searchInput type="text" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Search landmarks..." class="form-control">
    <i class="bi bi-x-lg clear-icon" (click)="resetSearch()" *ngIf="searchText.length > 0"></i>
  </div>
</div>
